* {
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
    margin: 0;
}

.Layout {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 20px var(--defaultPaddingHorizontal);
    user-select: none;
    height: 100vh;
    &__column {
        width: 272px;
        height: 100%;
        margin: 0 6px;
        display: inline-block;
        flex: none;
        &__content {
            width: 272px;
            background: #DFE3E6;
            border-radius: 3px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            max-height: 100%;
            &--creating {
                padding: 12px var(--defaultPaddingHorizontal) 0;
            }
        }
    }
}